<div class="jumbotron">
	<h1 class="text-center">This is RedditScrape</h1>
	<p class="text-center">All the content, with none of the comments</p>
	<p class="text-center"><a class="btn btn-danger btn-lg" href="/index">Click here to start scraping r/news</a></p>
</div>
